input {
    margin: 10px 10px;
    padding: 12px 14px;
    border: none;
    border-bottom:1px solid;
}
#Add {
    font-weight: 700;
    font-size: 20px;
    &:hover {
        color: cornflowerblue;
    }
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-bottom: 1px solid black;
    width: 500px;
    padding: 15px;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 15px;
}
#Delete {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    left: 480px;
    bottom: 50px;
    &:hover {
        color: red;
        scale: 1.1;
    }
}