

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 250px;
}

button {
    padding: 10px 25px;
    border-radius: 35px;
    background-color: #b6c0ca;
    color: white;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px 35px;
    border: 1px solid black;
    
}