input {
    padding: 8px;
    width: 250px;
}
button {
    padding: 10px 25px;
    border-radius: 35px;
    background-color: #b6c0ca;
    color: white;
    border: none;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border: 1px solid black;
    border-radius: 35px;
    width: 500px;
    padding: 15px;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}
#Delete {
    font-weight: 700;
    font-size: 30px;
    &:hover {
        color: red;
    }
}